.delete-button {
    -fx-background-color: red;
    -fx-text-fill: white;
    -fx-border-radius: 5px;
    
    -fx-font-size: 14px;
    -fx-font-weight: bold;

  
}

.delete-button:hover {
    -fx-background-color: darkred;
}
.actionColumn {
    -fx-border-color: #add8e6; /* Un azul más oscuro para el borde */
    -fx-background-color: #e0f7fa; /* Color de fondo gris claro */
    -fx-alignment: CENTER;
}
.evento-table-column {
    -fx-background-color: #e0f7fa; /* Un tono azul claro */
    -fx-border-color: #00bcd4; /* Un azul más oscuro para el borde */
    -fx-border-width: 0.5px;
}

.evento-table-column .table-cell {
    -fx-alignment: center-left; /* Alinea el texto a la izquierda por defecto */
    -fx-padding: 8px;
}

.evento-table-column:first-of-type {
    /* Estilos específicos para la primera columna si lo deseas */
}

.evento-table-column:last-of-type {
    /* Estilos específicos para la última columna si lo deseas */
}

/* Estilos generales para la TableView */
.table-view {
    -fx-background-color: transparent;
    -fx-border-color: #b0bec5;
    -fx-border-width: 1px;
}

.table-view .column-header-background {
    -fx-background-color: #00bcd4; /* Color de fondo del encabezado */
}

.table-view .column-header .label {
    -fx-text-fill: rgb(0, 0, 0); /* Color del texto del encabezado */
    -fx-font-weight: bold;
}

.table-view:focused {
    -fx-border-color: #00838f; /* Color del borde cuando la tabla tiene foco */
}

.table-row-cell:even {
    -fx-background-color: #eceff1; /* Color de fondo para filas pares */
}

.table-row-cell:odd {
    -fx-background-color: white; /* Color de fondo para filas impares */
}

.table-row-cell:selected {
    -fx-background-color: #b2ebf2; /* Color de fondo para la fila seleccionada */
    -fx-text-fill: black; /* Color del texto para la fila seleccionada */
}